.navbar {
  width: 100%;
  background-color: rgb(164, 19, 19);
  padding: 10px 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.brand {
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  background-image: linear-gradient(to right, teal, purple);
  padding: 10px;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
ul li a {
  text-decoration: none;
  color: #bbb8b8;
  font-size: 1rem;
  font-weight: 600;
}
.logout {
  margin-left: auto;
  margin-right: 50px;
}
