<div class="container">
  <h1>Login</h1>
  <form>
    <label for="username">Username:</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Enter your username"
    />
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Enter your password"
    />
    <div class="check">
      <input type="checkbox" name="remember" id="remember" />
      <div>
        <label for="remember">Remember me</label>
      </div>
    </div>
    <input type="submit" value="Login" />
  </form>
</div>
